#header {
    background-image: url("images/headerbg.JPG") !important;
    /* display: block;
    padding: 0;
    margin: 0; */
}

#aboutme-section {
    height: 100vh;
}

section#aboutme {
    padding-top: 0;
    padding-bottom: 0;
    background-image: url("images/codebackground4.png");
    background-position: center;
}

.is-mobile section#aboutme {
    padding-top: 50px;
    padding-bottom: 50px;
}

body.is-mobile #header {
    height: 25vh;
    background-size: cover;
    background-position-y: center;
    margin-top: 1.4em;
    padding: 0;
}

#header .content {
    margin: 0;
}

section {
    scroll-behavior: smooth !important;
}

@media screen and (min-width: 768px) {
    #header h1 {
        font-size: 5em;
    }
}

@media screen and (min-width: 1024px) {
    #header h1 {
        font-size: 7em;
    }
    #header {
        background-size: cover;
        background-position: right;
    }
}

/* Nav */

#nav {
    background-color: #282828;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    cursor: default;
    height: 3.5em;
    line-height: 3.5em;
}

#nav ul {
    margin-bottom: 0;
    list-style: none;
}

#nav li {
    display: inline-block;
    padding-left: 0;
}

#nav a {
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    outline: 0;
    font-weight: 600;
    border-radius: 8px;
    color: #fff;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 1.25em;
    border-bottom: none !important;
}

#nav a:hover {
    color: #fff !important;
    background: #383838;
}

#nav a.active {
    background: #484848;
}

#nav a.active:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.6em;
    left: 50%;
    margin-left: -0.75em;
    border-left: solid 0.75em transparent;
    border-right: solid 0.75em transparent;
    border-top: solid 0.6em #282828;
}

.is-mobile #nav {
    font-size: 0.4em;
}

/* progress bar */

.skills-container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

@keyframes load {
    from {
        width: 0%
    }
}

@-webkit-keyframes load {
    from {
        width: 0%
    }
}

@-moz-keyframes load {
    from {
        width: 0%
    }
}

@-o-keyframes load {
    from {
        width: 0%
    }
}

.bar {
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.bar::before {
    content: attr(data-skill);
    /* background-color: #f3b0ff; */
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}

.bar.web::before {
    background-color: #4F7CAC;
}

.bar.db::before {
    background-color: #617073;
}

.bar.prog::before {
    background-color: #E69597;
}

.bar.design::before {
    background-color: #6eb8b4;
}

.bar.java::before {
    width: 73%;
}

.bar.python::before {
    width: 60%;
}

.bar.javascript::before {
    width: 30%;
}

.bar.sql::before {
    width: 37%;
}

.bar.postgressql::before {
    width: 37%;
}

.bar.htmlcss::before {
    width: 74%;
}

.bar.jsf::before {
    width: 42%;
}

.bar.angular::before {
    width: 62%;
}

.bar.vuejs::before {
    width: 50%;
}

.bar.nodejs::before {
    width: 30%;
}

.bar.express::before {
    width: 30%;
}

.bar.figma::before {
    width: 74%;
}

#skills {
    /* height: 100vh; */
    padding-bottom: 80px;
}

/* portfolio */

#portfolio {
    /* border: 1px solid red; */
    padding: 50px 40px 80px 40px;
}

#uiportfolio {
    padding: 90px 70px 80px 70px;
}

#portfolio h2 {
    padding-top: 40px;
}

.container-fluid {
    /* border: 1px solid blue; */
}

.portfolio-card {
    /* border: 1px solid pink; */
    display: inline-block;
    padding: 20px 50px;
}

#uiportfolio .portfolio-card {
    padding: 20px 30px;
}

.portfolio-photo-holder {
    /* border: 1px blue dotted; */
    margin: 0;
    background-color: #3D7068;
    color: white;
    padding: 20px;
}



.bg-colour-1 {
    background-color: #E2856E;
}

.bg-colour-2 {
    background-color: #91A8A4;
}

.bg-colour-3 {
    background-color: #9E788F;
}

.bg-colour-4 {
    background-color: #7284A8;
}

.bg-colour-5 {
    background-color: #50a2a3;
}

.bg-colour-6 {
    background-color: #CC978E;
}

.portfolio-photo {
    border: 1px solid white;
    width: 100%;
}

.portfolio-description {
    text-align: center;
    padding-top: 10px;
    margin: 10px;
}

.portfolio-description h5, .portfolio-description h6 {
    color: white;
}

/* extracurricular */

#extracurricular h2 {
    padding-top: 25px;
}

#extracurricular {
    /* height: 100vh; */
    padding-bottom: 60px;
}

.extras-logo {
    width: 200px;
}

.extras-section {
    /* border: 1px solid red; */
    padding: 0px 30px;
}

.extras-pic-placeholder {
    /* border: 1px dotted red; */
}

.extras-pic {
    width: 100%;
}

.extras-description {
    text-align: center;
    padding: 20px 40px;
}

.extras-links-comclub {
    display: inline-flex;
    margin-top: 20px;
}

.extras-links-unicon {
    margin-top: 20px;
}

.extras-description-text {
    margin: 10px 0;
}

/* design */

#design {
    height: fit-content;
}

#design h2 {
    padding-top: 25px;
}

.design-pic {
    width: 100%;
}

.design-btn-row {
    text-align: center;
    display: block;
    margin: 50px 30px 50px;
}

/* contact */

header#header.closingheader {
    margin: 0;
    height: 100vh;
}

#contact {
    /* height: 100vh; */
    background-color: #9A8C98;
}

#contact h2 {
    padding-top: 25px;
}

.contact-details-row {
    text-align: center;
    display: inline-flex;
}

header.major.noline::after {
    content: "";
    display: block;
    width: 4em;
    border-bottom: none;
    margin: 2em auto 0px;
}

/* portfolio pages */

#portfolio-page-section h2 {
    padding-top: 25px;
}

.portfolio-page-header-btn {
    margin: 5px;
}

.portfolio-page-photo {
    margin: 80px;
}

.is-mobile .portfolio-page-photo {
    font-size: 10px;
    display: inline;
}

.is-mobile .container {
    padding-left: 0;
    padding-right: 0;
}

.portfolio-page-photo h3 {
    background-color: black;
    color: white;
    padding: 5px 30px;
    margin-bottom: 40px;
    height: fit-content;
}

.stylehr1 {
    border: 2px solid black;
    border-radius: 5px;
}

/* top button */
#top-btn {
    display: initial;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: #9A8C98;
    color: white !important;
  }
  
  #top-btn:hover {
    background-color: #4A4E69;
  }

  /* youtube */

  .youtube-embed {
      text-align: center;
  }

  /* design */

  .portfolio-banner {
      margin: 30px;
      padding-left: 0;
  }

  .is-mobile .portfolio-banner {
    margin: 30px 0px;
}

/* overwriting cdn */
a:hover {
    text-decoration: none !important;
}
